<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="ColoredConsole"
            name="ColoredConsole-Trace"
            layout="${time} ${uppercase:${level}} ${message} ${exception:format=message}" 
            useDefaultRowHighlightingRules="true" />

    <target xsi:type="File"
            name="FlatFile-Trace"
            layout="${time} ${uppercase:${level}} ${logger} ${message}"
            fileName="/var/log/bsa/FileStorage.Api.Host/${shortdate}-Trace.log"
            keepFileOpen="false"
            encoding="UTF-8" />

    <target xsi:type="File"
            name="FlatFile-Error"
            layout="${time} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
            fileName="/var/log/bsa/FileStorage.Api.Host/${shortdate}-Errors.log"
            keepFileOpen="false"
            encoding="UTF-8" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColoredConsole-Trace" />
    <logger name="*" minlevel="Trace" writeTo="FlatFile-Trace" />
    <logger name="*" minlevel="Error" writeTo="FlatFile-Error" />
  </rules>
</nlog>